@charset "UTF-8";

#onesection {
    margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
    p {
        font-size: 1.1em;
    }

    main a {
        font-size: 1em;
    }

    h1 {
        font-size: 1.7em;
        text-align: center;
    }

    #onesection {
        margin-bottom: 70px;
    }
}