@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Julee&display=swap');

@font-face {
    font-family: 'android';
    src: url('../arquivos/fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor0: rgb(226, 220, 166);
    --cor01: #050502;
    --cor02: #daf017;
    --cor03: #E8CE02;
    --cor04: #D9D00B;
    --cor05: #EBB80A;
    --cor06: #fbff1b;

    --corpreta01: #1c1c1c;
    --corbranca: #fff;

    --fontpadrao: Arial, Verdana, Helvética, sans-serif;
    --fontdestaque: 'Bebas Neue', cursive;
    --fontandroid: 'android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fontpadrao);
}


header, nav {
    display: flex;
    flex-direction: row; /* Coloque column para ficar um embaixo do outro */
    align-items: center;
}

header { 
    background-color: var(--cor01);
    box-shadow: 1px 1px 1px 4px var(--corpreta01);
    height: 3.5em;
    justify-content: space-between;
    padding: 0 15%;
}

nav{ 
    gap: 3em;
    z-index: 2;
}

nav > a { 
    text-decoration: none;
    color: var(--cor02);
    transition: 1s;
    font-weight: bold;
}

.active { 
    background-color: rgb(48, 48, 48);
    padding: 10px;
    border-radius: 10px;
}

#Profille-image-conteiner{
    max-width: 96px;
    max-height: 96px;
    display: inline-flex;
    margin: auto 0;
    align-items: center;
    z-index: 3;
}

#Profille-image-conteiner > img {
    display: inline-flex;
    max-width: 96px;
    max-height: 96px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: auto 0;
}

main {
    background-color: var(--corbranca);
    min-width: 300px;
    max-width: 1000px;
    margin-bottom: 30px;
    padding: 3.75em 1.5em;
    margin: 5px auto;
    transition: 1s;
}

.btn-icon-header{
    display: none;
    background-color: transparent;
    border: none;
    color: var(--corbranca);
    cursor: pointer;
}

@media screen and (max-width: 768px){
    nav {
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: var(--corpreta01);
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }

    .btn-icon-header {
        display: block;
    }

    @keyframes showsidebar {
        from { 
            margin-left: -100vw;
        }

        top {
            margin-left: -15vw;
        }
    }
}